@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add scrollbar styling */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Marker info window styling */
.gm-style .gm-style-iw-d {
    overflow: hidden !important;
}
